<aside class="sidebar" [class.sidebar--open]="open">
  <nav class="sidebar__nav">

    <ng-container *ngFor="let section of sections">
      <div class="sidebar__section">
        <span class="sidebar__section-title">{{ section.label }}</span>
        <ul class="sidebar__menu">
          <li *ngFor="let mod of sectionModules(section.id)">
            <a [routerLink]="mod.route"
               routerLinkActive="sidebar__link--active"
               class="sidebar__link"
               (click)="linkClick.emit()"
               matRipple
               [matRippleColor]="'rgba(255,255,255,0.08)'"
               [title]="mod.label">
              <span class="sidebar__icon" [innerHTML]="icon(mod.name)"></span>
              <span class="sidebar__label">{{ mod.label }}</span>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

  </nav>
</aside>
